@include keyframes(rotate-border) {
  @for $i from 45 through 90 {
    $percent: 0% + $i - 45;
    $grade: $i + 'deg';
    
    #{$percent} {
      @include transform(rotate(#{$grade}));
    }
  }
}


@mixin animation($animation1, $animation2: false, $animation3: false, $animation4: false, $animation5: false, $animation6: false, $animation7: false) {
  $content: compact($animation1, $animation2, $animation3, $animation4, $animation5, $animation6, $animation7); 
  @include experimental(animation, $content, -webkit, -moz, not -o, not -ms, official);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}