body {
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
    
    
    section, .main {
      width: $major;
      float: left;
    }
    
    aside {
      width: $minor - $margin;
      float: right;
      
      position: fixed;
      left: $major + $margin;
      
      .design-archives, .zen-resources {
        margin-top: $pad*2;
        
        h3 {
          display: none;
        }
      }
      
      @include tablet-and-below {
        margin-bottom: $pad;
      }
    }
    
    footer {
      position: relative;
      z-index: 2;
      width: $minor;
      margin-left: 114%;
      padding-bottom: $pad;
      top: 36em;
      
      @include mobile {
        margin-left: 0;
        top: 0;
      }
    }
    
    
    @include tablet-and-below {
      section, .main, aside, footer {
        @include block;
        
        position: relative;
        left: 0;
      }
    }
  }
}
