body {
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
    
    section, .main {
      width: $major;
      float: left;
    }
    
    aside {
      width: $minor - $margin;
      float: right;
      
      position: fixed;
      left: $major + $margin;
      
      .design-archives, .zen-resources {
        margin-top: $pad*2;
        
        h3 {
          display: none;
        }
      }
    }
    
  }
}
