body {
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
    
    section {
      @include block;
      
      .summary, .preamble {
        margin-bottom: $pad*2;
        
        p {
          width: $major;
        }
      }
    }
    
    .main {
      width: $major - $margin;
      margin-right: $margin;
      float: left;
    }
    
    aside {
      width: $minor;
      float: left;
    }
    
    .explanation, .participation, .benefits, .requirements {
      max-width: 700px;
    }
  }
}
