html {
  body {
    @include block;
    
    @include typographic-grid;
    @include link($gutter/8 $gutter/4);
    
    
    background: $color;
    
    
    .page-wrapper {
      @include block;
      margin: $gutter;
      width: auto;
      @include color;

      .intro, header, .summary, .preamble, .main, .explanation, .participation, .benefits, .requirements, footer, .sidebar, .design-selection, .design-archives, .zen-resources {
        @include block;
      }
      
      .intro, .main {
        max-width: $text-width;
        margin-left: col(1);
        margin-right: col(1);
      }
      .main {
        margin-right: col(4);
      }
      .sidebar {
        max-width: $text-width;
        position: absolute;
        left: $text-width + col(2) + $gutter*2;
        padding: row(1) 0;
        
        border-left: 1px solid $grey;
        
        h3, ul li {
          padding-left: $gutter;
          width: calc(100% - #{$gutter});
        }

        h3 {
          color: $dark-grey;
          margin-bottom: $gutter/2;
          border-color: $grey;
        }

        li {
          border-bottom: 1px solid $grey;
          padding-bottom: $gutter/2;
          margin-bottom: $gutter/2;
  
          a {
            border-bottom: 0;
          }
        }
      }
      
      
      .intro {
        header {
          
        }
        
        .summary {
          @include rows(1);
        }
        
        .preamble {
          p {
            &:first-of-type {
              &:after {
                content: url(../assets/isometropolis.png);
                max-width: $text-width;
                max-height: row(3);
                overflow: hidden;
                display: inline-block;
                margin-top: $gutter;
              }
            }
          }
    
        }
      }
      
      .main {
        position: relative;
        
        .explanation {
          width: $text-width * 2;
          p, h3 {
            font-size: 150%;
          }
        }
        
        .benefits {
          position: relative;
          left: $text-width + col(1) + $gutter;
          height: 0;
        }
        
        .requirements {
          @include rows(8);
          
          p[role=contentinfo] {
            margin-top: row(1);
          }
        }
        
        footer {
        }
      }
      
      .sidebar {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        
        
        .wrapper {
          .design-selection {
            ul {
              li {
                a {
                  &.design-name {
                    font-style: italic;
                  }
            
                  &.designer-name {
                    font-variant: small-caps;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
          
          .design-archives {
            
          }
          
          .zen-resources {
            
          }
        }
      }   
    }
  }
}