html {
  body {
    @include typographic-grid;
    @include color;
    @include link($gutter/8 $gutter/4);
    
    .page-wrapper {
      @include block;
      margin: $gutter;
      width: calc(100% - #{$gutter*2});
      
      .intro {
        header {
          max-width: $text-width;
        }
        
        .summary {
          max-width: $text-width;
        }
        
        .preamble {
          max-width: $text-width;
        }
      }
      
      .main {
        .explanation {
          max-width: $text-width;
        }
        
        .participation {
          max-width: $text-width;
        }
        
        .benefits {
          max-width: $text-width;
        }
        
        .requirements {
          max-width: $text-width;
        }
        
        footer {
          max-width: $text-width;
        }
      }
      
      .sidebar {
        .wrapper {
          .design-selection {
            max-width: $text-width;
          }
          
          .design-archives {
            max-width: $text-width;
          }
          
          .zen-resources {
            max-width: $text-width;
          }
        }
      }   
    }
  }
}