html {
  body {
    @include block;
    
    @include typographic-grid;
    @include link($gutter/8 $gutter/4);
    
    
    background: $color;
    
    
    .page-wrapper {
      @include block;
      margin: $gutter;
      width: auto;
      @include color;

      .intro, header, .summary, .preamble, .main, .explanation, .participation, .benefits, .requirements, footer, .sidebar, .design-selection, .design-archives, .zen-resources {
        @include block;
      }
      
      .intro, .main {
        max-width: $text-width;
        margin-left: col(1);
        margin-right: col(1);
      }
      .main {
        margin-right: col(4);
      }
      .sidebar {
        max-width: $text-width;
        position: absolute;
        left: $text-width + col(2) + $gutter*2;
        padding: row(1) 0;
      }
      
      .intro {
        .summary {
          @include rows(1);
        }
        
        .preamble {
          p {
            &:first-of-type {
              &:after {
                content: url(../assets/isometropolis.png);
                max-width: $text-width;
                max-height: row(3);
                //content: ' ';
                //width: $text-width;
                //height: row(3);
                @include background-image(linear-gradient(left, #878787, yellow, #878787));
                background-size: 50% 100%;
                @include animation(background-color 15s infinite);
                overflow: hidden;
                display: inline-block;
                margin-top: $gutter;
              }
            }
          }
    
        }
      }
      
      .main {
        position: relative;
        z-index: 1;
        
        .explanation {
          width: $text-width * 2 + col(1) + $gutter;
          
          p, h3 {
            font-size: 200%;
          }
          
          p {
            
          }
        }
        
        .benefits {
          position: relative;
          
          // align to grid
          left: $text-width + col(2);
          top: -$text-width/2 + $gutter*3;
          
          // make it a black square
          @include color($background, transparent, $gutter);
          $size: calc(#{$text-width} - #{$gutter*4});
          width: $size;
          height: $size;
          
          &:before {
            content: '';
            display: inline-block;
            background: $color;
            width: $size;
            height: $size;
            position: absolute;
            left: $gutter;
            z-index: -1; // http://stackoverflow.com/questions/3032856/z-index-of-before-or-after-to-be-below-the-element-is-that-possible
  
            // rotate
            @include transform(rotate(45deg));
          }

          // border
          &:after {
            content: '';
            display: inline-block;
            border: $gutter/2 dashed $color;
            position: absolute;
            height: calc(#{$text-width} - #{$gutter});
            width: calc(#{$text-width} - #{$gutter});
            top: -$gutter;
            left: -$gutter;
            
            // animate
            @include animation(rotate-border 15s infinite);
          }

          // adjust text on square
          h3, p {
            margin-top: $gutter*6;
            margin-left: $gutter;
          }

        }
        
        .requirements {
          position: relative;
          top: row(-5);
  
          p[role=contentinfo] {
            margin-top: row(1);
          }
        }
        
        footer {
          position: relative;
          top: row(-2);
        }
      }
      
      .sidebar {
        font-family: $serif;
        
        border-left: 1px solid $grey;
        
        h3, ul li {
          padding-left: $gutter;
          width: calc(100% - #{$gutter});
        }

        h3 {
          color: $dark-grey;
          margin-bottom: $gutter/2;
          border-color: $grey;
  
          &:after {
            content: '\25a0';
            color: $background;
            font-size: 150%;
            display: inline-block;
            position: relative;
            left: -$gutter/4;
            top: $gutter/8;
          }
        }

        li {
          border-bottom: 1px solid $grey;
          padding-bottom: $gutter/2;
          margin-bottom: $gutter/2;
  
          a {
            border-bottom: 0;
    
            &.design-name {
              font-style: italic;
            }
      
            &.designer-name {
              font-variant: small-caps;
              letter-spacing: 1px;
              font-family: $sans-serif;
              font-size: smaller;
              @include color($background, $color, $gutter/8 $gutter/4);
            }
          }
        }
        
      }   
    }
  }
}