/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Vertical rhythm
*/
/* The Grid
*/
/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
body {
  font-size: 100%;
  line-height: 1.25em; }
  body .page-wrapper {
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
    body .page-wrapper h1, body .page-wrapper h2, body .page-wrapper h3, body .page-wrapper p {
      line-height: 1.25em; }
    body .page-wrapper h1, body .page-wrapper h2, body .page-wrapper h3 {
      font-size: 1.33333em;
      padding: 1.25em 0;
      margin: 0; }
    body .page-wrapper p + p {
      margin-top: 1.25em; }

body .page-wrapper {
  width: 90%;
  margin: 0 auto; }
  body .page-wrapper section, body .page-wrapper .main {
    width: 61.804%;
    float: left; }
  body .page-wrapper aside {
    width: 33.196%;
    float: right;
    position: fixed;
    left: 66.804%; }
    body .page-wrapper aside .design-archives, body .page-wrapper aside .zen-resources {
      margin-top: 2.5em; }
      body .page-wrapper aside .design-archives h3, body .page-wrapper aside .zen-resources h3 {
        display: none; }

body {
  background: #363636;
  color: #c2c2c2; }
  body a, body a:visited, body a:active {
    color: #cc8f8f;
    text-decoration: none; }
  body .page-wrapper aside {
    background: #434343;
    height: 100%; }
    body .page-wrapper aside .wrapper {
      padding: 1.25em; }
      body .page-wrapper aside .wrapper ul li {
        border-bottom: 1px dotted #363636;
        padding: 0.3125em 0; }
