/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@-moz-keyframes move {
  from {
    background-position: 0% 0%; }

  to {
    background-position: 100% 100%; } }
@-webkit-keyframes move {
  from {
    background-position: 0% 0%; }

  to {
    background-position: 100% 100%; } }
@keyframes move {
  from {
    background-position: 0% 0%; }

  to {
    background-position: 100% 100%; } }
h1, h2, h3 {
  width: 100%;
  float: left;
  font-weight: bold; }

h3 {
  margin-top: 3.75em;
  margin-bottom: calc(1.25em - 1px);
  border-bottom: 1px solid; }

h2 {
  margin-top: 2.5em;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em;
  margin-bottom: 1.25em; }

h1 {
  margin-top: 3.125em;
  color: white;
  background: #404040;
  padding: 0.3125em;
  margin-bottom: 1.25em;
  width: calc(100% - 0.625em); }

p {
  max-width: 31.25em; }
  p abbr {
    letter-spacing: 1.5px;
    font-size: smaller; }
  p a abbr {
    letter-spacing: normal;
    font-size: 100%; }
  p + p {
    margin-top: 1.25em; }

html body {
  width: 100%;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  background: #404040; }
  @media only screen and (max-width: 47.999em) {
    html body {
      font-size: 87.5%; } }
  @media only screen and (min-width: 90.001em) {
    html body {
      font-size: 125%; } }
  html body a {
    color: #7f7f7f;
    text-decoration: none;
    border-bottom: 1px solid; }
    html body a:hover {
      color: #404040; }
  html body .page-wrapper {
    width: 100%;
    float: left;
    margin: 1.25em;
    width: auto;
    color: #404040;
    background: white; }
    html body .page-wrapper .intro, html body .page-wrapper header, html body .page-wrapper .summary, html body .page-wrapper .preamble, html body .page-wrapper .main, html body .page-wrapper .explanation, html body .page-wrapper .participation, html body .page-wrapper .benefits, html body .page-wrapper .requirements, html body .page-wrapper footer, html body .page-wrapper .sidebar, html body .page-wrapper .design-selection, html body .page-wrapper .design-archives, html body .page-wrapper .zen-resources {
      width: 100%;
      float: left; }
    html body .page-wrapper .intro, html body .page-wrapper .main {
      max-width: 31.25em;
      margin-left: 6.45833em;
      margin-right: 6.45833em; }
    html body .page-wrapper .main {
      margin-right: 25.83333em; }
    html body .page-wrapper .sidebar {
      max-width: 31.25em;
      position: absolute;
      left: 46.66667em;
      padding: 6.25em 0; }
    html body .page-wrapper .intro .summary {
      height: 6.25em; }
    html body .page-wrapper .intro .preamble p:first-of-type:after {
      content: url(../assets/isometropolis.png);
      max-width: 31.25em;
      max-height: 18.75em;
      overflow: hidden;
      display: inline-block;
      margin-top: 1.25em; }
    html body .page-wrapper .main {
      position: relative; }
      html body .page-wrapper .main .explanation {
        width: 70.20833em; }
        html body .page-wrapper .main .explanation p, html body .page-wrapper .main .explanation h3 {
          font-size: 200%; }
      html body .page-wrapper .main .benefits {
        position: relative;
        left: 44.16667em;
        top: -11.875em;
        color: white;
        background: #404040;
        padding: 1.25em;
        height: calc(31.25em - 5em);
        width: calc(31.25em - 5em);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
        html body .page-wrapper .main .benefits h3, html body .page-wrapper .main .benefits p {
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: relative;
          left: -2.5em;
          top: 3.75em; }
        html body .page-wrapper .main .benefits p {
          left: -1.25em; }
        html body .page-wrapper .main .benefits:after {
          content: '';
          display: inline-block;
          border: 1px solid #ffb2b2;
          position: absolute;
          height: calc(31.25em - 1.25em);
          width: calc(31.25em - 1.25em);
          top: -0.625em;
          left: -0.625em; }
      html body .page-wrapper .main .requirements {
        position: relative;
        top: -31.25em; }
        html body .page-wrapper .main .requirements p[role=contentinfo] {
          margin-top: 6.25em; }
      html body .page-wrapper .main footer {
        position: relative;
        top: -12.5em; }
    html body .page-wrapper .sidebar {
      font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
      border-left: 1px solid #e5e5e5; }
      html body .page-wrapper .sidebar h3, html body .page-wrapper .sidebar ul li {
        padding-left: 1.25em;
        width: calc(100% - 1.25em); }
      html body .page-wrapper .sidebar h3 {
        color: #7f7f7f;
        margin-bottom: 0.625em;
        border-color: #e5e5e5; }
        html body .page-wrapper .sidebar h3:after {
          content: '\25a0';
          color: white;
          font-size: 150%;
          display: inline-block;
          position: relative;
          left: -0.3125em;
          top: 0.15625em; }
      html body .page-wrapper .sidebar li {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.625em;
        margin-bottom: 0.625em; }
        html body .page-wrapper .sidebar li a {
          border-bottom: 0; }
          html body .page-wrapper .sidebar li a.design-name {
            font-style: italic; }
          html body .page-wrapper .sidebar li a.designer-name {
            font-variant: small-caps;
            letter-spacing: 1px; }

#gravity .h-vertical, #gravity .h-horizontal, #gravity .h-golden-rectangle {
  position: fixed;
  z-index: 1000;
  opacity: .3; }
#gravity .h-vertical {
  left: calc(50% - 1px);
  height: 100%;
  border-left: 1px solid red; }
#gravity .h-horizontal {
  top: calc(50% - 1px);
  width: 100%;
  border-bottom: 1px solid red; }
#gravity .h-golden-rectangle {
  border: 1px solid green;
  opacity: .8; }
#gravity .h-gravity-point {
  position: absolute;
  z-index: 1000;
  opacity: .3;
  display: none; }
  #gravity .h-gravity-point:after {
    content: '';
    display: block;
    width: 1.25em;
    height: 1.25em;
    background: red;
    position: relative;
    top: -0.625em;
    left: -0.625em; }
  #gravity .h-gravity-point:last-of-type {
    display: block; }

#grid {
  position: absolute;
  top: 0;
  opacity: .1;
  z-index: -1; }

#grid .col {
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: calc(5.20833em + 1.25em - 1px);
  height: calc(5em + 1.25em - 1px);
  float: left; }

#grid .gutter-right {
  float: right;
  border-left: 1px solid;
  width: calc(1.25em - 1px);
  height: 100%; }

#grid .gutter-bottom {
  float: left;
  border-bottom: 1px solid;
  height: calc(1.25em - 1px);
  width: 100%; }

#grid {
  margin: 0 1.25em;
  z-index: 100; }

#grid, #gravity {
  display: none; }
