

$background: #363636;
$color: #C2C2C2;
$pink: #CC8F8F;





@mixin invert {
  background: $color;
  color: $background;
}

@mixin list($color: $background) {
  li {
    border-bottom: 1px dotted $color;
    padding: $pad/4 0;
  }
}


body {
  background: $background;
  color: $color;
  
  a, a:visited, a:active {
    color: $pink;
    text-decoration: none;
  }
  
  .page-wrapper {
    
    aside {
      background: lighten($background, 5%);
      height: 100%;
      
      .wrapper {
        padding: $pad;
        
        ul {
          @include list;
        }
      }
    }
  }
}
