

$background: #363636;
$color: #C2C2C2;
$pink: #CC8F8F;





@mixin invert {
  background: $color;
  color: $background;
}

@mixin list($color: $background) {
  li {
    border-bottom: 1px dotted $color;
    padding: $pad/4 0;
  }
}

@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}


body {
  background: $background;
  color: $color;
  
  a, a:visited, a:active {
    color: $pink;
    text-decoration: none;
  }
  
  .page-wrapper {
  
    section {
      header {
        h1 {
          font-size: 200%;
          border-bottom: 1px solid;
        }
        
        h2 {
          font-size: 400%;
        }
        
        @include tablet-and-below {
          h1 {
            font-size: 150%;
          }
          
          h2 {
            font-size: 200%;
          }
        }
      }
      
      .summary {
        font-size: 150%;
        
        @include tablet-and-below {
          font-size: 100%;
          
          p:nth-child(1):after {
            content: '(The list can found at the bottom of the page.)';
            font-size: small;
            font-style: italic;
            margin-top: $pad/2;
            display: block;
          }
        }
      }
      
      .preamble {
        margin-top: $pad*14;
        @include invert;
        padding: $pad $pad*3 $pad*3;
        
        h3, p {
          font-size: 200%;
        }
        
        h3 {
          padding-bottom: 0;
          margin-bottom: $pad;
          border-bottom: 4px double;
        }
        
        @include tablet-and-below {
          margin-top: $pad*2;
          padding: $pad/2 $pad $pad;
          
          h3, p {
            font-size: 100%;
          }
          
          h3 {
            border-bottom: 1px solid;
          }
        }
      }
    } 
    
    .main {
      .explanation {
        font-size: large;
        
        p {
          background: darken($background, 5%);
          width: 40em;
          height: 30em;
          border-radius: 20em;
          border-bottom: 1px dotted;
          
          padding-top: 10em;
          
          
          letter-spacing: 10px;
          text-align: center;
          line-height: 2;
        }
        
        p + p {
          font-family: 'Source Code Pro', serif;
          letter-spacing: 5px;
          text-shadow: 1px 1px #fff;
          
          border-bottom: none;
          font-weight: normal;
          @include invert;
        }
        
        @include mobile {
          h3 {
            text-align: center;
          }
          
          p {
            width: auto;
            height: auto;
            
            padding: $pad*2 0;
            letter-spacing: 7px;
          }
          
          p + p {
            letter-spacing: 4px;
          }
        }
      }
      
      .participation {
        font-size: 150%;
        
        p {
          font-style: italic;
          letter-spacing: 1px;
          font-size: 90%;
          
          border-left: 8em solid darken($background, 5%);
          padding-left: $pad;
        }
        
        p + p {
          margin-top: $pad*2 + $pad/2;
        }
        
        @include mobile {
          font-size: 100%;
          
          p {
            font-style: normal;
          }
        }
      }
      
      .benefits {
        text-align: center;
        
        margin: $pad*5 0;
        
        border-top: 4px double;
        border-bottom: 4px double;
        
        h3 {
          font-family: "Nothing You Could Do", cursive;
          font-size: 600%;
        }
        
        p {
          font-family: "Voltaire", sans-serif;
          font-size: 200%;
          padding: 0 $pad*2 $pad;
        }
        
        @include mobile {
          h3 {
            font-size: 300%;
          }
          
          p {
            font-size: 110%;
          }
        }
      }
      
      .requirements {
        font-size: large;
        
        h3, p:first-line {
          font-variant: small-caps;
          font-weight: bold;
        }
        
        p {
          width: 45%;
          margin-right: 10%;
          float: left;
          
          padding-bottom: $pad*2;
        }
        
        p:nth-child(odd)  {
          margin-right: 0;
          margin-top: 0;
        }
        
        p:nth-child(6) {
          @include block;
        }
        
        p+p {
          margin-top: 0;
        }
        
        @include mobile {
          p {
            @include block;
            margin-right: 0;
          }
        }
      }
      
      
    }
    
    aside {
      background: lighten($background, 5%);
      height: 100%;
      
      .wrapper {
        padding: $pad;
        
        ul {
          @include list;
        }
      }
    }
  }
}
