

$background: #363636;
$color: #C2C2C2;
$pink: #CC8F8F;

$red: #D45555;
$yellow: #D4D4AA;
$lila: #D98DD9;
$lila-2: #E394BB;
$pink-2: #D9A38D;


$bordo: #4C3636;
$green: #5E7565;



@mixin invert {
  background: $color;
  color: $background;
}

@mixin list($color: $background) {
  li {
    border-bottom: 1px dotted $color;
    padding: $pad/4 0;
  }
}

@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}


body {
  background: $background;
  color: $color;
  
  a, a:visited, a:active {
    color: $pink;
    text-decoration: none;
  }
  
  .page-wrapper {
  
    section {
      header {
        h1 {
          font-size: 200%;
          border-bottom: 1px solid;
        }
        
        h2 {
          font-size: 400%;
        }
        
        @include tablet-and-below {
          h1 {
            font-size: 150%;
          }
          
          h2 {
            font-size: 200%;
          }
        }
      }
      
      .summary {
        font-size: 150%;
        
        @include tablet-and-below {
          font-size: 100%;
          
          p:nth-child(1):after {
            content: '(The list can be found at the bottom of the page.)';
            font-size: small;
            font-style: italic;
            margin-top: $pad/2;
            display: block;
          }
        }
      }
      
      .preamble {
        margin-top: $pad*4;
        background: darken($background, 1%);
        color: lighten($color, 20%);
        padding: $pad*25 $pad*3 $pad*3;
        
        font-size: larger;
        
        h3, p {
          max-width: 700px;
        }
        
        @include tablet-and-below {
          margin-top: $pad*2;
          padding: $pad/2 $pad $pad;
        }
        
      }
    } 
    
    .main {
      .explanation {
        font-size: large;
        
        h3 {
          text-align: center;
          
          position: relative;
          z-index: 3;
          
          top: $pad*5;
          margin-left: $pad*5;
        }
        
        p {
          background: $bordo;
          width: 40em;
          height: 30em;
          @include border-radius(20em);
          border-bottom: 1px dotted;
          
          padding-top: 10em;
          
          
          letter-spacing: 10px;
          text-align: center;
          line-height: 2;
        }
        
        p + p {
          font-family: 'Source Code Pro', serif;
          letter-spacing: 5px;
          text-shadow: 1px 1px #fff;
          
          border-bottom: none;
          font-weight: normal;
          @include invert;
        }
        
        @include tablet-and-below {
          h3 {
            top: 0;
            margin-left: 0;
          }
          
          p {
            width: auto;
            height: auto;
            @include border-radius(1em);
            
            padding: $pad*2 $pad;
            letter-spacing: 7px;
          }
          
          p + p {
            letter-spacing: 4px;
          }
        }
        
        @include small-screen-and-up {
          p {
            position: relative;
            z-index: 2;
          }
        }
        
      }
      
      .participation {
        font-size: 150%;
        
        p {
          font-style: italic;
          letter-spacing: 1px;
          font-size: 90%;
          
          border-left: 8em solid darken($background, 5%);
          padding-left: $pad;
        }
        
        p + p {
          margin-top: $pad*2 + $pad/2;
        }
        
        @include mobile {
          font-size: 100%;
          
          p {
            font-style: normal;
          }
        }
      }
      
      .benefits {
        h3 {
          font-family: "Nothing You Could Do", cursive;
          font-size: 600%;
          color: $lila-2;
          text-decoration: underline;
          
          @include rotate(-10);
        }
        
        p {
          font-family: "Voltaire", sans-serif;
          font-size: 200%;
          padding: 0 $pad*2 $pad;
          color: $pink-2;
        }
        
        @include mobile {
          h3 {
            font-size: 300%;
          }
          
          p {
            font-size: 120%;
            padding: 0 $pad $pad;
          }
        }
        
        @include small-screen {
          h3 {
            font-size: 400%;
          }
          
          p {
            font-size: 150%;
          }
        }
        
        @include landscape {
          h3 {
            font-size: 400%;
          }
          
          p {
            font-size: 150%;
          }
        }
      }
      
      .requirements {
        font-size: large;
        
        h3, p:first-line {
          font-variant: small-caps;
          font-weight: bold;
        }
        
        
        p {
          width: 45%;
          margin-right: 10%;
          float: left;
          
          padding-bottom: $pad*2;
        }
        
        p:nth-child(odd)  {
          margin-right: 0;
          margin-top: 0;
        }
        
        p:nth-child(6) {
          @include block;
          margin-top: $pad;
        }
        
        p+p {
          margin-top: 0;
        }
        
        @include mobile {
          p {
            @include block;
            margin-right: 0;
          }
        }
      }
      
      footer {
        a {
          &:after {
            content: '\2713';
            font-size: larger;
            color: $green;
            
            padding-left: $pad/4;
            margin-right: $pad;
          }
        }
      }
    }
    
    aside {
      background: lighten($background, 5%);
      height: 100%;
      
      .wrapper {
        padding: $pad;
        
        ul {
          @include list;
          
          li {
            a {
              font-variant: small-caps;
            }
          }
        }
      }
      
    }
  }
}
