// Fonts
// =======================================================================================================

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Old+Standard+TT:400,400italic,700);

// The basic font families
$sans-serif: 'Lato', sans-serif;
$serif: 'Old Standard TT', serif;

// The basic font-size
// - the first rule of typography is to make the basic font perfectly readable 
// - in a responsive environment this means we will have different, scaling settings for small screens (tablets and below), normal screens (laptops) and monitors
$small-font-size: 87.5%;
$font-size: 100%;
$large-font-size: 125%;

// The basic line height
// - this is 125% of the $font-size
// - see more http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/
$line-height: 1.25;

// The basic line height in EM
// - it's derived from the $line-height property
$gutter: 1.25em;


  
// Setting up the typographic grid based on the basic font
@mixin typographic-grid {
  font-family: $sans-serif;
  font-size: $font-size;
  line-height: $line-height;
    
  @include below-tablet {
    font-size: $small-font-size;  
  } 
  
  @include large-screen-and-up {
    font-size: $large-font-size;  
  }
}



// Typographic elements
// =======================================================================================================



h1, h2, h3 {
  @include block;
  font-weight: bold;
}

h1 {
  margin-top: $gutter*3;
  margin-bottom: calc(#{$gutter} - 1px);
  border-bottom: 1px solid;
}

h3 {
  margin-top: $gutter*2;
  border-bottom: $gutter/2 solid;
  padding-bottom: $gutter/2;
  margin-bottom: $gutter;
}

h2 {
  margin-top: $gutter*2 + $gutter/2;
  @include color($background, $color);
  padding: $gutter/4;
  margin-bottom: $gutter;
  width: calc(100% - #{$gutter/2});
}


p {
  max-width: $text-width;
  
  abbr {
    letter-spacing: 1.5px;
    font-size: smaller;
  }
  
  a {
    abbr {
      letter-spacing: normal;
      font-size: 100%;
    }
  }
  
  + p {
    margin-top: $gutter;
  }
}