// Fonts
// =======================================================================================================


// The basic font family
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


// The basic font-size
// - the first rule of typography is to make the basic font perfectly readable 
// - in a responsive environment this means we will have different, scaling settings for small screens (tablets and below), normal screens (laptops) and monitors
$small-font-size: 87.5%;
$font-size: 100%;
$large-font-size: 125%;

// The basic line height
// - this is 125% of the $font-size
// - see more http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/
$line-height: 1.25;

// The basic line height in EM
// - it's derived from the $line-height property
$gutter: 1.25em;


  
// Setting up the typographic grid based on the basic font
@mixin typographic-grid {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
    
  @include below-tablet {
    font-size: $small-font-size;  
  } 
  
  @include large-screen-and-up {
    font-size: $large-font-size;  
  }
}



// Typographic elements
// =======================================================================================================

h1, h2, h3, p {
  max-width: $text-width;
}

h1, h2, h3 {
  font-weight: bold;
}

h3 {
  margin-top: $gutter;
}

h2 {
  margin-top: $gutter*2;
  margin-bottom: $gutter;
  border-bottom: 1px solid;
}

h1 {
  margin-top: $gutter*3;
  margin-bottom: $gutter*2;
  border-bottom: $gutter/2 solid;
  padding-bottom: $gutter/2;
}

p + p {
  margin-top: $gutter;
}

p {
  abbr {
    letter-spacing: 1.5px;
    font-size: smaller;
  }
  
  a {
    abbr {
      letter-spacing: normal;
      font-size: 100%;
    }
  }
}