h1, h2, h3 {
  font-weight: bold; }

h3 {
  margin-top: 1.25em; }

h2 {
  margin-top: 2.5em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid; }

h1 {
  margin-top: 3.75em;
  margin-bottom: 2.5em;
  border-bottom: 0.625em solid;
  padding-bottom: 0.625em; }

p + p {
  margin-top: 1.25em; }
